<section class="hero">
  <p> Text Placeholder</p>
</section>

{{#each post as |Post|}}
<div class="columms custom-columns">
  <div class="column is-half is-offset-one-quarter is-flex is-justify-content-center">
    <div class="card custom-card">
      <br>
      <div class="card-body custom-card-body">
        <p class="title is-5"> {{Post.title}}</p>
        <p class="is-italic"> created by <span class="custom-tag mt-2 is-medium">
            <a href="/api/user/{{Post.user_id}}">{{Post.user.username}}</a></span></p>
        <br>
        <p> {{Post.content}}</p>
        <br>
      </div>
    </div>
  </div>
</div>
{{/each}}


