<div class="columms custom-columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="column is-half is-offset-one-quarter">
      <h1> Tech Blog</h1>
    </div>
  </div>
</div>
</div>
<div class="login-space">
  <h1 class="title is-3"> Login</h1>
</div>
<div class="card">
  <form class="card-content">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input id="email-login" class="input custom-input" type="email" placeholder="e.g. rockNroll@gmail.com" />
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input id="password-login" class="input custom-input" type="password" placeholder="at least 8 characters" />
      </div>
    </div>
    <br>
    <div class="field is-grouped">
      <div class="control">
        <a id="loginBtn" ><button class="button custom-button" type="submit"><strong>login!</strong></button></a>
      </div>
      <br>
      <div class="control">
        <a href="/"><button class="button custom-button" type="button">abandon ship!</button></a>
      </div>
    </div>

  </form>
</div>

<script src="/js/login.js"></script>