<div class="columms">
  <div class="column is-half is-offset-one-quarter">
    <div class="column is-half is-offset-one-quarter">
      <h1> Tech Blog</h1>
    </div>
  </div>
</div>
</div>
<div class="login-space">
  <h1 class="title is-3"> New User? Sign Up! </h1>
</div>
<div class="card">
  <form class="card-content">
    <div class="field">
      <label class="label">Email: </label>
      <div class="control">
        <input id="#signupUsername" class="input" type="email" placeholder="e.g. robot@gmail.com" />
      </div>
    </div>

    <div class="field">
      <label class="label">Username: </label>
      <div class="control">
        <input id="#signupEmail" class="input" type="email" placeholder="e.g. RobotxHuman" />
      </div>
    </div>

    <div class="field">
      <label class="label">Password: </label>
      <div class="control">
        <input id="#signupPW" class="input" type="password" placeholder="At least 8 characters" />
      </div>
    </div>
    <br>
    <div class="field is-grouped">
      <div class="control">
        <a id="signupBtn" ><button class="button" type="submit"><strong>sign up!</strong></button></a>
      </div>
      <br>
      <div class="control">
        <a href="/"><button class="button" type="button">cancel!</button></a>
      </div>
    </div>

  </form>
</div>

<script src="/js/newUser.js"></script>

